<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TurfManagementDBEntities" connectionString="metadata=res://*/PlayGroundDB.csdl|res://*/PlayGroundDB.ssdl|res://*/PlayGroundDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TurfManagementDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>